{% extends "core/base.html" %}


{% block content %}


{% if form.errors %}
            <div style="background-color: red;">
                {{ form.errors }}
            
            </div>
            {% endif %}
            
            
            <form action="" method="POST">
                {% csrf_token %}
                <!-- {% csrf_token %} -->
    
                <p> {{form.username}} </p>
               <p>{{form.email}} </p>
               
               <p>{{form.password1}} </p>
               <p>{{form.password2}}</p> 
               

                <button type="submit" class="btn-continue">Continue</button>
            </form>
           
            <div class="new-user">
                <p>I already have an account <a href="{% url 'userauths:login' %}">Login your GOline account</a></p>
            </div>
            {% endblock %}